<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = 'utf-8'/>
        <meta name = 'viewport' content = 'width = device-width, initial-scale = 1, shrink-to-fit = no'/>
        <meta name  = 'description' content = 'PIClock Admin Page'/>

        <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'bootstrap-4.1.3.min.css') }}"/>
        <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'style.css') }}"/>

        <script src = "{{ url_for('static', filename = 'jquery-3.3.1.min.js') }}"></script>
        <script src = "{{ url_for('static', filename = 'popper-1.14.3.min.js') }}"></script>
        <script src = "{{ url_for('static', filename = 'bootstrap-4.1.3.min.js') }}"></script>

        <title>PIClock</title>
    </head>
    <body>
        <div id = 'header'>
            <p id = 'header-title'>
                {{ pageTitle }}
            </p>
            <div id = 'header-icons-float-right'>
                <a href = "{{ url_for('flaskServeHomepage') }}">
                    <!--home icon-->
                    <img class = 'header-icons' src = "{{ url_for('static', filename = 'neumorphism-svg/3.svg') }}"/>
                </a>
                <a href = "{{ url_for('flaskServeSettings') }}">
                    <!--settings icon-->
                    <img class = 'header-icons' src = "{{ url_for('static', filename = 'neumorphism-svg/14.svg') }}"/>
                </a>
                </div>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>