{% extends 'layout.html' %}
{% block body %}

<p class = 'normal-left-margin settings-page-section-title page-top-margin'>
    Clock
</p>
<div class = 'settings-page-icon-and-toggle-pair'>
    <!--clock icon-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/6.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Analog Mode</p>
    <label class = 'switch settings-switch-justify'>
        <input type = 'checkbox' id = 'settings-analog-mode-toggle'/> <!--document.getElementById('settings-analog-mode-toggle').checked-->
        <span class = 'slider round'></span>
    </label>
</div>
<div>
    <!--eye icon (eyecon?)-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/16.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Clock Dark Mode</p>
    <label class = 'switch settings-switch-justify'>
        <input type = 'checkbox' id = 'settings-dark-mode-toggle'/>
        <span class = 'slider round'></span>
    </label>
</div>


<p class = 'normal-left-margin settings-page-section-title page-top-margin'>
    Display
</p>
<div class = 'settings-page-icon-and-toggle-pair'>
    <!--reload icon-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/10.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Flip Screen</p>
    <label class = 'switch settings-switch-justify'>
        <input type = 'checkbox' id = 'settings-screen-flip-toggle'/>
        <span class = 'slider round'></span>
    </label>
</div>
<div class = 'settings-page-icon-and-toggle-pair'>
    <!--slider icon-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/12.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Screen Brightness</p>
    <input type = 'range' min = '0' max = '100' value = '50' class = 'settings-switch-justify' id = 'settings-brightness-selector'/>
</div>
<div class = 'settings-page-icon-and-toggle-pair'>
    <!--reload icon-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/10.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Display On</p>
    <label class = 'switch settings-switch-justify'>
        <input type = 'checkbox' id = 'settings-display-on-toggle'/>
        <span class = 'slider round'></span>
    </label>
</div>


<p class = 'normal-left-margin settings-page-section-title page-top-margin'>
    Colors
</p>
<div class = 'settings-page-icon-and-toggle-pair'>
    <!--pencil icon-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/2.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Background Color (Dark)</p>
    <div class = 'settings-color-selector-parent settings-switch-justify shadow-small'>
        <input type = 'color' id = 'settings-darkmode-background-color-selector' class = 'settings-color-selector'/>
    </div>
</div>
<div class = 'settings-page-icon-and-toggle-pair'>
    <!--pencil icon-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/2.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Text Color (Dark)</p>
    <div class = 'settings-color-selector-parent settings-switch-justify shadow-small'>
        <input type = 'color' id = 'settings-darkmode-foreground-color-selector' class = 'settings-color-selector'/>
    </div>
</div>
<div class = 'settings-page-icon-and-toggle-pair'>
    <!--pencil icon-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/2.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Background Color (Light)</p>
    <div class = 'settings-color-selector-parent settings-switch-justify shadow-small'>
        <input type = 'color' id = 'settings-lightmode-background-color-selector' class = 'settings-color-selector'/>
    </div>
</div>
<div class = 'settings-page-icon-and-toggle-pair'>
    <!--pencil icon-->
    <img class = 'header-icons settings-page-icon-and-toggle-pair-child' src = "{{ url_for('static', filename = 'neumorphism-svg/2.svg') }}"/>
    <p class = 'settings-page-icon-and-toggle-pair-child'>Text Color (Light)</p>
    <div class = 'settings-color-selector-parent settings-switch-justify shadow-small'>
        <input type = 'color' id = 'settings-lightmode-foreground-color-selector' class = 'settings-color-selector'/>
    </div>
</div>

<button id = 'settings-page-submit-button' class = ' page-top-margin shadow-small' onclick = 'sendSettingsUpdateRequest();'>UPDATE</button>
<script src = "{{ url_for('static', filename = 'settings.html.js') }}"></script>
{% endblock %}